<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Settings.BlogTitle}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Tajawal" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> style}}
    {{> meta}}
</head>
<body>
<div class="container">
    {{> header}}
    {{> navigation}}
    <main>
        <article class="post">
            <p class="post-title"><b>{{Post.Title}}</b></p>
            <p class="post-time"><i>{{Post.Created}}</i> ◦</p>
            <section class="post-content-full">{{{Post.Html}}}</section>
        </article>
    </main>

    {{> footer}}
</div>
</body>
</html>