.home {
	padding: 66px 6px 6px;
	width: 100%;
}

.card {
	padding: 12px;
	margin: 8px;
	display: inline-block;
	float: left;
}

.oneBlock {
	min-width: 15%;
	width: 242px;
	height: 60px;
}
.twoBlock {
	min-width: 30%;
	width: 500px;
	height: 136px;
}
.threeBlock {
	min-width: 30%;
	width: 500px;
	height: 170px;
}
.fourBlock {
	min-width: 30%;
	width: 500px;
	height: 240px;
}
.fiveBlock {
	min-width: 30%;
	width: 500px;
	height: 264px;
}


.files {
	font-size: 12pt;
}

.fileList {
	max-height: 360px;
	overflow-x: hidden;
	overflow-y: auto;
}
.fileList:empty::after {
	content: 'Nothing uploaded yet';
}

.groupbutton {
	border: 1px;
	border-radius: 2px;
	background-color: transparent;
	cursor: pointer;
}
.groupbutton:focus {
	outline: none;
	text-decoration: underline;
}
