.home {
	padding: 74px 8px;
	min-height: 100%;
	width: 100%;
}

.header {
	margin-left: 12px;
}

.card {
	padding: 8px;
	max-width: calc(25% - 16px);
	width: calc(100% - 16px);
	min-width: 350px;
	margin: 8px;
	display: inline-block !important;
}

.grid {
	width: 100%;
	display: inline-grid;
	grid-template-columns: auto 34px;
	grid-template-rows: 2rem auto auto;
	grid-template-areas: 'title actions'
						 'content actions'
						 'created created';
}

.actions {
	margin: auto;
	grid-area: actions;
}
.created {
	text-align: center;
	grid-area: created;
 }

.title {
	grid-area: title;

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 1.5rem;     /* fallback */
	max-height: 3rem;      /* fallback */
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.content {
	grid-area: content;
}
.content p {
	margin: 0;
}

.text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 1.5rem;     /* fallback */
	max-height: 5rem;      /* fallback */
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}