<nav>
    <ul>
        <li>
            <a class="no-link-style" href="/">Home</a>
        </li>
        <li>
            <a class="no-link-style" href="https://rosenbjerg.dk">Portfolio</a>
        </li>
        <li>
            <a class="no-link-style" href="https://github.com/rosenbjerg">GitHub</a>
        </li>
        <li>
            <a class="no-link-style" href="/">Some third link</a>
        </li>
    </ul>
</nav>