

.dropLabel {
    background-color: rgba(187,222,251, 0.25);
    border-radius: 28px;
    display: inline-block;
    height: 56px;
}

.dropLabel .mdc-icon {
    margin-left: 0;
}

.invis {
    opacity: 0;
}