<nav>
    <ul>
        <li>
            <a class="no-link-style" href="/">Home</a>
        </li>
        <li>
            <a class="no-link-style" href="https://rosenbjerg.dk" target="_blank">Portfolio</a>
        </li>
        <li>
            <a class="no-link-style" href="https://github.com/rosenbjerg" target="_blank">GitHub</a>
        </li>
    </ul>
</nav>