
.title {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    line-height: 2.5rem;
    user-select: none;
    padding-left: 0;
}



.toolbar {
    box-shadow: 0 0 0.2em rgba(17, 17, 17, 0.2);
    background-color: #ffffff;
}